.page-body {
    width: 100%;
    min-height: 100%;
        
    overflow-x: hidden;
    overflow-y: hidden;
    
    background-position: center;
    background-size: cover;


}
.mat-tab-group {
    margin-bottom: 48px;
  }
  